API_ID=123456
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/
DATABASE_NAME=movies_magic_club
CHANNEL_ID=-1001234567890
ADMINS=123456789
FORCE_SUB_CHANNEL=
RESULTS_PER_PAGE=8
TMDB_API_KEY=your_tmdb_api_key
TMDB_LANGUAGE=en-US
